* {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #3f3e3d;
}
body {
  background: #ffffff url(img/bg.png);
  margin: 0;
  padding: 0;
}
.flash {
  padding: 10px;
  margin: 20px 0;
}
.flash.error {
  background: #ffefef;
  color: #4c1717;
  border: 1px solid #4c1717;
}
.flash.warning {
  background: #ffe4c1;
  color: #79420d;
  border: 1px solid #79420d;
}
.flash.notice {
  background: #efffd7;
  color: #8ba015;
  border: 1px solid #8ba015;
}
input {
  width: 189px;
  height: 38px;
  border: 1px solid #d2d2d2;
  padding: 0 10px;
  outline: none;
  font-size: 17px;
}
input:focus {
  background: #FFFDF2;
}
input.error {
  background: #ffefef;
  color: #4c1717;
  border: 1px solid #4c1717;
}
input[type="submit"] {
  height: 36px;
  width: auto;
  border: 1px solid #7BC574;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  background: #8cd585;
  background: -moz-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cd585), color-stop(23%, #82cd7a), color-stop(86%, #55ad4c), color-stop(100%, #4fa945));
  background: -webkit-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: -o-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: -ms-linear-gradient(top, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  background: linear-gradient(to bottom, #8cd585 0%, #82cd7a 23%, #55ad4c 86%, #4fa945 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@c1', endColorstr='@c4', GradientType=0);
}
a {
  text-decoration: none;
  color: #58b84e;
  text-shadow: #58b84e 0 0 1px;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 92%;
  margin: auto;
}
header {
  background: url(img/bg-header.png);
  height: 85px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
header div.wrapper {
  padding: 11px 0;
}
header div.wrapper h1 {
  position: relative;
  top: 10px;
  margin: 0 15px 0 0;
}
header div.wrapper span {
  font-size: 18px;
  margin: 0 42px 0 0;
}
header div.wrapper form {
  display: inline;
}
header div.wrapper form input {
  margin: 0 0 0 14px;
}
header div.wrapper #btnLogOut {
  float: right;
  margin: 14px 0 0 0;
}
#content {
  margin-bottom: 15px;
  min-height: 560px;
}
#content div.wrapper {
  margin: 20px auto;
}
#content div.wrapper img {
 
}

#content div.wrapper .posts div.postWrapper {
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    background: #fff;
    width: 236px;
    font-size: 11px;
    float: left; 
    margin: 0 7px 14px;
    
}
#content div.wrapper .post div.postWrapper {
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    background: #fff;
    width: 480px;
    font-size: 13px;
    margin: 30px auto;
    
}

#content div.wrapper div.userWrapper {
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    background: #fff;
    font-size: 16px;
    padding: 15px;
    
    
}
#content div.wrapper div.postWrapper .postImage {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #e7e7e7;

}
#content div.wrapper div.postWrapper .postMeta {
    font-size: 11px;
}
#content div.wrapper div.postWrapper .postDescription {
    font-size: 13px;
    padding: 7px 14px;
    height: 50px;
    overflow: auto;
}
#content div.wrapper div.postWrapper .postBadges {
    font-size: 9px;
    padding: 7px 14px;
    color: #777;
    font-weight: bold;
}
#content div.wrapper div.postWrapper .hit-count {
    background: url(/static/img/viewsicon.png) no-repeat 0% 50%;
    padding-left: 16px;
    color: #777;

}

#content div.wrapper div.postWrapper .postAuthor {
    font-weight: bold;
    border-top: 1px solid #e7e7e7;
    color: #777;
    padding: 7px 14px
}

#content div.wrapper div.postWrapper .postAuthor img {
    float:left;
    margin-right: 5px;
}
#content div.wrapper div.postWrapper .postAuthor .category {
    color: #777;   
}
#content .right {
	float: right;
}
#content .left {
	float: left;
}


footer {
  background: url(img/bg-footer.png);
  height: 251px;
  font-size: 14px;
  clear: both;
  z-index: 1;
}
footer div.wrapper {
  padding: 15px;
}
footer div.wrapper a,
footer div.wrapper img {
  float: right;
  margin-right: 5px;
}
