<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
	{% block head %}
	{% endblock %}
</head>
<body>
    <header>
        <div class="wrapper">
            <h1><a href="/">moZan.market</a></h1>
            <span>товары, услуги, репутация</span>
            {% block login %}
            <a href="/">Главная</a>
            <a href="/users/">Public Profiles</a>
            <a href="/users/{{ username }}">My Profile</a>
            <a href="/posts">Public Posts</a>
            <form action="/logout">
                <input type="submit" id="btnLogOut" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or Karma_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                {{ Karma_form.content.errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }} 
            </div>
            {% endif %}
            {% endblock %}
 
            {% block content %}
 
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="wrapper">
            Karma - сервис для сделок
            <a href="agreement">
                Соглашение о пользовании
            </a>
        </div>
    </footer>
</body>
</html>
