{% extends "base.html" %}
 
{% block login %}
    
{% endblock %}
 
{% block content %}
{% if auth_form.non_field_errors or user_form.non_field_errors %}
<div class="flash error">
    {{ auth_form.non_field_errors }}
    {{ user_form.non_field_errors }}
</div>
{% endif %}
 <div class="panel middle">
        {% for post in posts %}
        <div class="karmaWrapper"> 
            <a href="/users/{{ post.user.username }}">
                <img class="avatar" src="{{ post.user.profile.gravatar_url }}">
                <span class="name">{{ post.user.first_name }}</span>
            </a>
            @{{ post.user.username }}
            <p> 
                {% if post.image %}
                    {% for image in post.images %}
                        <img src="{{ post.images.url }}">
                    {% endfor %}
                {% endif %}

                {{ post.content }} 
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}