{% extends "base.html" %}
{% load hitcount_tags %}

{% block head %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% get_hit_count_javascript for post %}
            });
    </script>

{% endblock %}

{% block login %}
{% endblock %}

{% block content %}

    <div class="post">
        <div class="postWrapper">
            {% for image in images  %}
            <img class ="postImage" src="{{ image.image_post_page.url }}">
            {% endfor %}
            <div class="postMeta">
                <div class="postDescription">
                    {{ post.content }}
                </div>
                <div class="postBadges">
                    <a class="comments">10</a>
                    <a class="karma">{% get_hit_count for post %}</a>
                </div>
                <div class="postAuthor">
                    <a href="/user/{{ post.owner.username }}">
                        <img class="avatar" src="{{ post.owner.profile.avatar_30.url }}">
                        <span class="name">{{ post.owner.first_name }}</span>
                    </a>
                    <div class="category">Категория: {{ post.category }}</div>

                </div>


            </div>

        </div>
    </div>
{% endblock %}
