
{% extends "base.html" %}
{% block login %}
    
{% endblock %}

{% block content %}
    
    <div class="post">
        <div class="postWrapper">
            {% for image in images  %}
            <img class ="postImage" src="{{ image.image_post_page.url }}">
            {% endfor %}
            <div class="postMeta">
                <div class="postDescription">
                    {{ post.content }}
                </div>
                <div class="postBadges">
                        <a class="comments">10</a>
                        <a class="karma">+14</a>
                    </div>
                <div class="postAuthor">
                    <a href="/users/{{ post.user.username }}">
                        <img class="avatar" src="{{ post.user.profile.avatar_30.url }}">
                        <span class="name">{{ post.user.first_name }}</span>
                    </a>
                    <div class="category">Категория: {{ post.category }}</div>    

                </div>
                
                
            </div>
            
        </div>
    </div>
{% endblock %}
