{% extends "base.html" %}

{% block login %}
    
{% endblock %}

{% block content %}

    <div class="panel left">
        <h1>Пользователи</h1>
        {% for user, karma in obj %}
        <div class="karmaWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ user.first_name }}</span>
            </a>
            <p>
                {{ user.karma_count}} Posts
                <span class="spacing">{{ user.profile.followed_by.count }} Followers</span>
                <span class="spacing">{{ user.profile.follows.count }} Following</span>
            </p>
            <p>{{ karma.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}