{% extends "base.html" %}
{% block login %}
    
{% endblock %}

{% block content %}
    
    <div class="public">
        {% for post in posts %}
        <div class="postWrapper">
            {% if post.image %}
    		<a href="/post/{{ post.pk }}">
		<img class ="postImage" src="{{ post.image_main_page.url }}">
		</a>
            {% endif %}
            <div class="postMeta">
                <div class="postDescription">
                    {{ post.content }}
                </div>
                <div class="postBadges">
                        <a class="comments">10</a>
                        <a class="karma">+14</a>
                    </div>
                <div class="postAuthor">
                    <a href="/users/{{ post.user.username }}">
                        <img class="avatar" src="{{ post.user.profile.gravatar_url }}">
                        <span class="name">{{ post.user.first_name }}</span>
                    </a>
                    <div class="category">Категория: {{ post.category }}</div>    

                </div>
                
                
            </div>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}
