{% extends "base.html" %}
{% block login %}
    
{% endblock %}

{% block content %}
    
    <div class="public">
        {% for post in posts %}
        <div class="postWrapper">
            {% if post.image %}
            <img src="{{ post.image_main_page.url }}">
            {% endif %}
            <p class="postDescription">{{ post.content }}</p>

            <img class="avatar" src="{{ post.user.profile.gravatar_url }}">
            <span class="name">{{ post.user.first_name }}</span>@{{ post.user.username }}
            <span class="time">{{ post.creation_date|timesince }}</span>

        </div>
        {% endfor %}
    </div>
{% endblock %}