{% extends "base.html" %}
{% block login %}

{% endblock %}
 
{% block content %}
    <div class="panel left">
        <h1>Профиль: {{ user.first_name }}</h1>
        <div class="userWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ user.first_name }}</span>
            </a>
                @{{ user.username }}
            <p>
                Количество объявлений: {{ posts.count }} 
                <span class="spacing">{{ user.profile.follows.all.count }} </span>
                <span class="spacing">{{ user.profile.followed_by.all.count }} </span>
            </p>
            {% if follow %}
            <form action="/follow" method="post">
                {% csrf_token %}
                <input type="hidden" name="follow" value="{{ user.id }}">
                <input type="submit" value="Follow">
            </form>
            {% endif %}
        </div>
    </div>
 
    <div class="panel left">
        <h1>Объявления автора {{ user.first_name }}: </h1>
        {% for post in posts %}
        <div class="postWrapper">
            {% if post.image %}
            <img class ="postImage" src="{{ post.image_main_page.url }}">
            {% endif %}
            <div class="postMeta">
                <div class="postDescription">
                    {{ post.content }}
                </div>
                <div class="postBadges">
                        <a class="comments">10</a>
                        <a class="karma">+14</a>
                    </div>
                <div class="postAuthor">
                    <div class="category">Категория: {{ post.category }}</div>    
                </div>
                
                
            </div>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}